<div class="container=fluid mat-elevation-z8">
  <div class="container" style="text-align: center;">   
    <div class="col-md-11">
      <h3 class="panel panel-heading">List of Resources</h3>
    </div>
    <div class="col-md-1">
      <button mat-flat-button color="primary" routerLink="/addResource" routerLinkActive="active">Add Resource</button>
      <!-- <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field> -->
    </div>
  </div>

  
<!-- <mat-table #table matSort [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="columnTitle"> Name </mat-header-cell>
    <mat-cell *matCellDef="let resource"> {{resource.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="columnTitle"> Position </mat-header-cell>
    <mat-cell *matCellDef="let resource"> {{resource.position}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="doj">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="columnTitle"> Doj </mat-header-cell>
    <mat-cell *matCellDef="let resource"> {{resource.exp}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="exp">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="columnTitle"> Experience </mat-header-cell>
    <mat-cell *matCellDef="let resource"> {{resource.doj}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="location">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="columnTitle"> Location </mat-header-cell>
    <mat-cell *matCellDef="let resource"> {{resource.location}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="primeSkill">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="columnTitle"> Primary Skill </mat-header-cell>
    <mat-cell *matCellDef="let resource"> {{resource.primeSkill}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="mob">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="columnTitle"> Mob </mat-header-cell>
    <mat-cell *matCellDef="let resource"> {{resource.mob}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="ktPlan">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="columnTitle"> KT Plan </mat-header-cell>
    <mat-cell *matCellDef="let resource"> {{resource.ktPlan}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="availablity">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="columnTitle"> Availablity </mat-header-cell>
    <mat-cell *matCellDef="let resource"> {{resource.availablity}} </mat-cell>
  </ng-container>
  

  <ng-container matColumnDef="actions" >
      <mat-header-cell *matHeaderCellDef class="columnTitle"> Actions </mat-header-cell>
      <mat-cell *matCellDef="let resource" >
          <span><button mat-mini-fab color="grey" routerLink="/resourceDetail/{{resource}}" routerLinkActive="active">view</button></span>
          <span><button mat-mini-fab color="primary" data-toggle="modal" data-target="#modalTarget" (click)="showModal();"><mat-icon class="glyphicon glyphicon-pencil"></mat-icon></button></span>
          <span><button mat-mini-fab color="warn" (click)="removeResource(resource)"><mat-icon class="glyphicon glyphicon-trash"></mat-icon></button></span>
      </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns" 
         (click)="onRowClicked(row)">
  </mat-row>
</mat-table>   -->




<form>
    <div class="container-fluid">
      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Position</th>
          <th scope="col">Doj</th>
          <th scope="col">Experience</th>
          <th scope="col">Location</th>
          <th scope="col">Primary Skill</th>
          <th scope="col">Mob</th>
          <th scope="col">KT Plan</th>
          <th scope="col">Availablity</th>
          <th scope="col">Comment</th>
          <th scope="col" style="text-align: center;">Action</th>
        </tr>
      </thead>
      <tbody class="table table-striped">
        <tr  *ngFor="let res of resource; let i= index"  scope="row">
            <td >{{res.name}}</td>
            <td >{{res.position}}</td>
            <td >{{res.doj}}</td>
            <td >{{res.exp}}</td>
            <td >{{res.location}}</td>
            <td >{{res.primeSkill}}</td>
            <td >{{res.mob}}</td>
            <td >{{res.ktPlan }}</td>
            <td >{{res.availablity}}</td> 
            <td>{{res.comment}}</td>
            <td style="text-align: center;">
                <span><button mat-mini-fab color="grey" routerLink="/resourceDetail/{{i}}" routerLinkActive="active">view</button></span>
                <span><button mat-mini-fab color="primary" data-toggle="modal" data-target="#modalTarget" (click)="showModal();"><mat-icon class="glyphicon glyphicon-pencil"></mat-icon></button></span>
                <span><button mat-mini-fab color="warn" (click)="removeResource(i)"><mat-icon class="glyphicon glyphicon-trash"></mat-icon></button></span>
            </td> 
          </tbody>
      </table>
     </div> 
</form>

  <!-- <div class="mat-paginator-tab">
    <mat-paginator
    [pageSize]="2"
    [pageSizeOptions]="[2, 4, 8, 10]">
    </mat-paginator>
  </div> -->
</div>

<div class="modal fade" id="modalTarget" aria-hidden="true">
   <div class="modal-header">
  <!-- <h4 class="modal-title">Modal Title</h4> -->
  <button type="button" class="close" aria-label="Close"
    (click)="activeModal.dismiss('Cross click')">
  </button>
  </div>
  <div class="modal-body">
    <p>My modal content</p>
    <div class="container-fluid">
      <div class="row header">
        <div class="col-md-12  ">
          <div class="form-group">
            <h3 class="heading">Resource Profile</h3>
          </div>
        </div>
      </div>
      <form>
        <div class="row">
          <div class="col-md-6 "> 
            <div class="form-group">
                <label>Name</label>
                <textarea class="form-control">{{name}}</textarea>
            </div>       
          </div>
        </div>  
        <div class="row">
          <div class="col-md-6 "> 
            <div class="form-group">
                <label>Position</label>
                <textarea class="form-control">{{position}}</textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 "> 
            <div class="form-group">
                <label>DOJ</label>
                <textarea class="form-control">{{doj}}</textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 "> 
            <div class="form-group">
                <label>Location</label>
                <textarea class="form-control">{{location}}</textarea>
            </div>
          </div>  
        </div>
        <div class="row">
          <div class="col-md-6 "> 
            <div class="form-group">
                <label>Primary Skill</label>
                <textarea class="form-control">{{primeSkill}}</textarea>
            </div>
          </div>  
        </div>
        <div class="row">
          <div class="col-md-6 "> 
            <div class="form-group">
                <label>Mob</label>
                <textarea class="form-control">{{mob}}</textarea>
            </div>
          </div>  
        </div>
        <div class="row">
          <div class="col-md-6 "> 
            <div class="form-group">
                <label>KT Plan</label>
                <textarea class="form-control">{{ktPlan}}</textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 "> 
            <div class="form-group">
                <label>Availablity</label>
                <textarea class="form-control">{{availablity}}</textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 "> 
            <div class="form-group">
                <label>Comment</label>
                <textarea class="form-control">comment.....</textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 "> 
            <div class="form-group">
                <button onclick="document.getElementById('link').click()">Download CV</button>
                <a id="link" href="../file.doc" download hidden></a>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
  <div class="modal-footer">
    <button (click)="activeModal.dismiss('Close clicked')">
      Close Clicked
    </button>
  </div>
<div>
