<div class="container-fluid">
  <<h2 style="text-align: center;">Resource Detail</h2>
  <div class="row">
      <div class="col-md-1">
      <label>First Name</label>
      </div>
    <div class="col-md-4" style="text-align: right;">
     
      <textarea matInput placeholder="Textarea" maxlength="25" disabled=true>{{resource}}</textarea>
    </div>
    <div class="col-md-4" style="text-align: left;">
        <mat-form-field>
            <textarea matInput placeholder="Textarea" maxlength="25" disabled=true>{{resource.name}}</textarea>
          </mat-form-field>     
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" >
      <p>Last Name</p>
    </div>
    <div class="col-sm-6">
        <mat-form-field>
            <textarea matInput placeholder="Textarea" maxlength="25" disabled=true>{{name}}</textarea>
          </mat-form-field>     
    </div>
  </div>
  <div class="col">
    <div class="row"><div class="col">Name</div><div class="col"></div></div>
    <div class="row"><div class="col"></div><div class="col"></div></div>
    <div class="row"><div class="col"></div><div class="col"></div></div>
    <div class="row"><div class="col"></div><div class="col"></div></div>
    <div class="row"><div class="col"></div><div class="col"></div></div>
    <div class="row"><div class="col"></div><div class="col"></div></div>
    <div class="row"><div class="col"></div><div class="col"></div></div>
    <div class="row"><div class="col"></div><div class="col"></div></div>
    <div class="row"><div class="col"></div><div class="col"></div></div>
  </div>

  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div>
  
