<div class="container-fluid">
    <div class="row header">
      <div class="col-md-12  col-md-offset-5">
        <div class="form-group">
          <h3 class="heading"><u>Resource Profile</u></h3>
        </div>
      </div>
    </div>
    <form >
      <div class="row">
        <div class="col-md-6 col-md-offset-3"> 
          <div class="form-group">
              <label>Name</label>
              <textarea class="form-control">{{resource.name}}</textarea>
          </div>       
        </div>
      </div>  
      <div class="row">
        <div class="col-md-6 col-md-offset-3"> 
          <div class="form-group">
              <label>Position</label>
              <textarea class="form-control">{{resource.position}}</textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3"> 
          <div class="form-group">
              <label>DOJ</label>
              <textarea class="form-control">{{resource.doj}}</textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3"> 
          <div class="form-group">
              <label>Location</label>
              <textarea class="form-control">{{resource.location}}</textarea>
          </div>
        </div>  
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3"> 
          <div class="form-group">
              <label>Primary Skill</label>
              <textarea class="form-control">{{resource.primeSkill}}</textarea>
          </div>
        </div>  
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3"> 
          <div class="form-group">
              <label>Mob</label>
              <textarea class="form-control" required>{{resource.mob}}</textarea>
          </div>
        </div>  
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3"> 
          <div class="form-group">
              <label>KT Plan</label>
              <textarea class="form-control">{{resource.ktPlan}}</textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3"> 
          <div class="form-group">
              <label>Availablity</label>
              <textarea class="form-control">{{resource.availablity}}</textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3"> 
          <div class="form-group">
              <label>Comment</label>
              <textarea class="form-control">{{resource.comment}}</textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-5"> 
          <div class="form-group">
              <button onclick="document.getElementById('link').click()">Download CV</button>
              <a id="link" href="../file.doc" download hidden></a>
          </div>
        </div>
      </div>
    </form>
  </div>
  