<div class="row successmsg" *ngIf="successFlag">
        <div class="col-md-12 ">
          <a routerLink="/viewResource" routerLinkActive="active"><h3 class=""> Successfully Resource added!! </h3></a>
         </div>
</div>

<div class="container-fluid">
  <div class="row header">
    <div class="col-md-12  col-md-offset-5">
      <div class="form-group">
      <h3 class="heading"><u>Adding Profile</u></h3>
      </div>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" #resForm="ngForm" >
    <div class="row">
      <div class="col-md-6 col-md-offset-3"> 
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="name" name="name">
        </div>       
      </div>
    </div>  
    <div class="row">
      <div class="col-md-6 col-md-offset-3"> 
        <div class="form-group">
          <label>Position</label>
          <input type="text" class="form-control" id="position" required [(ngModel)]="position" name="position">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3"> 
        <div class="form-group">
          <label>DOJ</label>
          <input type="text" class="form-control" id="doj" required [(ngModel)]="doj" name="doj">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3"> 
        <div class="form-group">
          <label>Experience</label>
          <input type="text" class="form-control" id="exp" required [(ngModel)]="exp" name="exp">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3"> 
        <div class="form-group">
          <label>Location</label>
          <input type="text" class="form-control" id="location" required [(ngModel)]="location" name="location">
        </div>
      </div>  
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3"> 
        <div class="form-group">
          <label>Primary Skill</label>
          <input type="text" class="form-control" id="primeSkill" required [(ngModel)]="primeSkill" name="primeSkill">
        </div>
      </div>  
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3"> 
        <div class="form-group">
          <label>Mob</label>
          <input type="text" class="form-control" id="mob" required [(ngModel)]="mob" name="mob">
        </div>
      </div>  
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3"> 
        <div class="form-group">
          <label>KT Plan</label>
          <input type="text" class="form-control" id="ktPlan" required [(ngModel)]="ktPlan" name="ktPlan">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3"> 
        <div class="form-group">
          <label>Availablity</label>
          <input type="text" class="form-control" id="availablity" required [(ngModel)]="availablity" name="availablity">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3"> 
        <div class="form-group">
          <label>Comment</label>
          <textarea class="form-control" id="comment" required [(ngModel)]="comment" name="comment"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-5"> 
        <div class="form-group">
            <label>Upload profile</label>
            <input type="file" id="profile" (change)="onFileChange($event);" #fileInput [(ngModel)]="profileUpload" name="profile">
          <!-- <button onclick="document.getElementById('link').click()">Upload CV</button>
          <a id="link" href="" Upload Resume></a> -->
        </div>
      </div>   
    </div> 
    <div class="row">
      <div class="col-md-6 col-md-offset-5"> 
        <div class="form-group">
          <button type="submit" class="btn btn-success"  [disabled]="!resForm.form.valid">Submit</button>
          <button type="submit" class="btn btn-success" (click)="resForm.reset()">Reset</button>
        </div>
      </div>   
    </div> 
  </form> 
</div>
      
<!-- <div class="container">
    <h1>Hero Form</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required  [(ngModel)]="name" name="name">
      </div>
{{name}}
      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input type="text" class="form-control" id="alterEgo">
      </div>

      <button type="submit" class="btn btn-success"  [disabled]="!heroForm.form.valid">Submit</button>
      <button type="submit" class="btn btn-success" (click)="heroForm.reset()">Reset</button>

    </form>
</div> -->