.header{
    /* background-color: lightgrey; */
    margin-top: -1%;
    margin-bottom: 1%;
}
.heading{
    font-family: cursive;
    color: blueviolet;
    text-align: center;
}
.successmsg{
    text-align: center;
    color: green;
    font-size: 23px;
    font-family: cursive;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  