 
 
 <div class="container-fluid">

  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
    <div class="row successmsg" *ngIf="successFlag">
        <div class="col-md-12 ">
          <h3 class=""> Successfully added Job Description!! </h3>
         </div>
   </div>

      <div class="row header">
          <div class="col-md-12  ">
            <div class="form-group">
              <h3 class="heading">Add new Job Description</h3>
            </div>
          </div>
          </div>
    <form [formGroup]="JDAdditionForm" (ngSubmit) = "addJobDescs()">
      <div class="row">
          <div class="col-md-3 ">
            <div class="form-group">
              <label for="usr">Position*</label>
              <input type="text" class="form-control"  placeholder="software engineer" formControlName="jdPosition">
            </div>
          </div>
          
          <div class="col-md-3 col-md-offset-1">
            <div class="form-group">
              <label for="positions">No. Positions</label>
              <select class="form-control" id="positions" (click)="positionOptio()">
                <option>{{pos}}</option>
              </select>
            </div>
          </div>

          <div class="col-md-3 col-md-offset-1">
              <div class="form-group">
                   <label for="category">Category</label>
                    <select class="form-control" id="category" formControlName="category">
                      <option>IT</option>
                      <option>SAP</option>
                      <option>Testing</option>
                      <option>Engineering</option>
                    </select>
                 </div>
          </div>
          
      </div>
      <div class="row">

          <div class="col-md-3">
              <div class="form-group">
                   <label for="location">Location*</label>
                    <select class="form-control" id="location" formControlName="location">
                      <option>Noida Site1</option>
                      <option>Noida Site3</option>
                      <option>Banglore</option>
                    </select>
                 </div>
          </div>


          <div class="col-md-3 col-md-offset-1 ">
              <div class="form-group">
                <label for="pwd">Boarding Time</label>
                <input type="date" class="form-control" id="pwd" placeholder="3" formControlName="time" min="2019-01-01" max="2020-12-31">
              </div>
          </div>
          <div class="col-md-3 col-md-offset-1">
                <div class="form-group">
                    <label for="experience">Experience</label>
                     <select class="form-control" id="experience" formControlName="experience">
                       <option>1-2</option>
                       <option>2-3</option>
                       <option>3-4</option>
                     </select>
                  </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-2">
              <div class="form-group">
                  <div class="row">
                      <div class="col col-md-offset-1">
                         <label>Skill Matrix Attached</label>
                        </div>
                   </div>
                <div class="row">
                    <div class="col col-md-offset-1">
                      <input type="checkbox"  formControlName="skillMatrix">
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                      <div class="row">
                        <div class="col">
                        <label>Request Acknowledged</label>
                      </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <input type="checkbox"  formControlName="requestAcknowledgment">
                        </div>
                      </div>
                </div>
              </div>
      
      

          <div class="col-md-3">
              <div class="form-group">
                <label for="">Request Recieve Time</label>
                <input type="datetime-local" class="form-control" id="requestRecieveTime" placeholder="01/01/2019"  min="2019-01-01" max="2020-12-31" formControlName="requestRecieveTime">
              </div>
          </div>

          <div class="col-md-3 col-md-offset-1">
              <div class="form-group">
                  <label for="usr">Upload Attachment</label>
                  <input type="file" class="form-control" id="usr" >
                </div>
          </div>
        
      </div>
    
      <div class="row">
          <div class="col-md-6 "> 
              <div class="form-group">
                  <label for="comment">Skill*</label>
                  <textarea class="form-control" rows="1" id="comment" formControlName="skill"></textarea>
                </div>
          </div>
        </div>
      <div class="row">
          <div class="col-md-6 "> 
              <div class="form-group">
                  <label for="comment">JD Description*</label>
                  <textarea class="form-control" rows="10" id="comment" formControlName="description"></textarea>
                </div>
          </div>
        </div>

      <div class="row">
        <div class="col-md-6 "> 
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="2" id="comment" formControlName="comment"></textarea>
              </div>
        </div>
      </div>
      <button type="submit"  class="btn btn-primary add_btn" [disabled]="!JDAdditionForm.valid">Add JD</button>
    </form>
  </div>

 
  