 <div class="container-fluid">
    <div class="row successmsg" *ngIf="successFlag">
        <div class="col-md-12 ">
          <h3 class=""> {{successMessge}} </h3>
         </div>
   </div>

      <div class="row header">
          <div class="col-md-12">
            <div class="form-group">
              <h3 class="heading">Add new Requirement</h3>
            </div>
          </div>
          </div>
    <form [formGroup]="JDAdditionForm" (ngSubmit) = "addJobDescs()">
      <div class="row">
          <div class="col-md-3">
              <mat-form-field class="example-full-width ">
                <input matInput type="text"  placeholder="JD Number"  formControlName="JdNumber">
              </mat-form-field>
            </div>

          <div class="col-md-3">
            <mat-form-field class="example-full-width ">
              <input matInput type="text"  placeholder="Position*" formControlName="jdPosition">
            </mat-form-field>
          </div>
          
          <div class="col-md-3">
           
            <mat-form-field >
                <mat-label>No. Positions*</mat-label>
                <mat-select formControlName="persons">
                      <mat-option *ngFor="let positions of positions" [value]="positions  ">
                    {{positions}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

          </div>

          <div class="col-md-3">
                 <mat-form-field >
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category">
                          <mat-option *ngFor="let category of categories" [value]="category.code  ">
                        {{category.categoryName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
          </div>
         
      </div>&nbsp;
      <div class="row">
          <div class="col-md-3">
              <mat-form-field >
                  <mat-label>Experience</mat-label>
                  <mat-select formControlName="experience">
                        <mat-option *ngFor="let experiences of experiences" [value]="experiences.code  ">
                      {{experiences.experienceName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
        </div>
          <div class="col-md-3">
                 <mat-form-field >
                    <mat-label>Location*</mat-label>
                    <mat-select formControlName="location">
                          <mat-option *ngFor="let locations of locations" [value]="locations.code  ">
                        {{locations.locationName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

          </div>


          <div class="col-md-3 ">
              <mat-form-field>
                  <input matInput [matDatepicker]="boardingDate" placeholder="Boarding Date" formControlName="boardingDate" min="2019-01-01" max="2020-12-31">
                  <mat-datepicker-toggle matSuffix [for]="boardingDate"></mat-datepicker-toggle>
                  <mat-datepicker #boardingDate></mat-datepicker>
              </mat-form-field>

          </div>
          <div class="col-md-2">
              <mat-form-field>
                  <input matInput [matDatepicker]="requestRecieveTime" placeholder="Request Recieve date" formControlName="requestRecieveTime" min="2019-01-01" max="2020-12-31">
                  
                  <mat-datepicker-toggle matSuffix [for]="requestRecieveTime"></mat-datepicker-toggle>
                  <mat-datepicker #requestRecieveTime></mat-datepicker>
                 
              </mat-form-field>
          </div>
      
          
         
      </div>&nbsp;
      <div class="row">
          <div class="col-md-3 ">
              <mat-checkbox formControlName="requestAcknowledgment" (click)="requestAcknowledge()">Request Acknowledged</mat-checkbox>
            </div>

            <div class="col-md-3 " [hidden]="!requestAcknFlag">
                <mat-form-field>
                    <input matInput [matDatepicker]="acknowledgementDate" placeholder="Acknowledgement Date" formControlName="acknowledgementDate" min="2019-01-01" max="2020-12-31">
                    <mat-datepicker-toggle matSuffix [for]="acknowledgementDate"></mat-datepicker-toggle>
                    <mat-datepicker #acknowledgementDate></mat-datepicker>
                </mat-form-field>
  
            </div>

          <div class="col-md-2">
              <mat-checkbox formControlName="skillMatrix" (click)="uploadSkillMatrix()">Skill Matrix Available</mat-checkbox>
            </div>
          <div class="col-md-2 col-md-offset-1" *ngIf="ifSkillMatrix">
              <div class="form-group">
                  <label for="usr">Upload Attachment</label>
                  <input type="file" class="form-control" id="usr" >
                </div>
          </div>
        
      </div>
    
      <div class="row">
          <div class="col-md-5 "> 
              <mat-form-field class="example-full-width">
                  <textarea  matInput id="comment" placeholder="Skills*" formControlName="skill"></textarea>
                </mat-form-field>
          </div>
        </div>
      <div class="row">
          <div class="col-md-5 "> 
              <mat-form-field class="example-full-width">
                  <textarea matInput rows="3" id="comment" placeholder="JD Description*" formControlName="description"></textarea>
                </mat-form-field>
          </div>
       
        <div class="col-md-5 col-md-offset-1"> 
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Comments"  rows="3" formControlName="comment"></textarea>
              </mat-form-field>
        </div>
      </div>&nbsp;
      <div>

        <button type="submit" class="btn btn-primary" [disabled]="!JDAdditionForm.valid" >Submit Requirement</button>
        <button type="button" class="btn btn-primary" *ngIf="successFlag" (click)="matchProfile();" style="margin-left: 15px;">Match Profiles</button>
        <input type="reset" class="btn btn-danger" (click)="onResetForm()" style="margin-left: 25px;">
      </div>
    </form>

    <div *ngIf="successFlag">
      <hr>
      <div>
        <h3>{{profileMatchFlag}}</h3>
      </div>
      <hr>
    </div>
    <div class="container-fluid" *ngIf="matchedProfiles.length>0">
      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Position</th>
          <th scope="col">Experience</th>
          <th scope="col">Location</th>
          <th scope="col">Primary Skill</th>
          <th scope="col">KT Plan</th>
          <th scope="col">Availablity</th>
          <th scope="col">Comment</th>
          <th scope="col">Matched Percentage</th>
          <th scope="col" style="text-align: center;">Action</th>
        </tr>
      </thead>
      <tbody class="table table-striped">
        <tr  *ngFor="let res of matchedProfiles; let i= index"  scope="row">
            <td >{{res.name}}</td>
            <td >{{res.position}}</td>
            <td >{{res.exp}}</td>
            <td >{{res.location}}</td>
            <td >{{res.primeSkill}}</td>
            <td >{{res.ktPlan }}</td>
            <td >{{res.availablity}}</td> 
            <td>{{res.comment}}</td>
            <td>{{res.matchPercentage}} %</td>
            <td style="text-align: center;">
                <span><i class="fa fa-download fa-lg" aria-hidden="true" style="color: #337ab7;"></i></span>
            </td> 
          </tbody>
      </table>
     </div> 
  </div>
