.header{
    /* background-color: lightgrey; */
    margin-top: -1%;
    margin-bottom: 1%;
}
.heading{
    font-family: cursive;
    color: blueviolet;
    text-align: center;
}
.successmsg{
    text-align: center;
    color: green;
    font-size: 23px;
    font-family: cursive;
}