
.header{
    /* background-color: lightgrey; */
    margin-top: -1%;
    margin-bottom: 1%;
}
.heading{
    font-family: cursive;
    color: black;
    text-align: center;
}
.successmsg{
    text-align: center;
    color: green;
    font-size: 23px;
    font-family: cursive;
}
  .add_btn{
    margin: 37px -6px;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 80%;
  }
  .mat-form-field-infix .input-fld{
         font-size: 16px;
        font-style: italic;
        font-weight: bold;
  }

  