<h3 class="login_header">Resource Management Portal</h3>
<div class="container-fluid login_head">
  <div class="jumbotron">
   <div class="login_main">
<form  [formGroup]="loginForm" (ngSubmit) = "login()">
      <div class="row">
        <div class="col-lg-6">
        <mat-form-field class="example-full-width">
            <input type="email" matInput placeholder="User Name*"  formControlName="userName" >
          </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
       
        <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Password*"  formControlName="password" >
          </mat-form-field>
        </div>
        
    </div>
    <div class="login_btn">
      <!-- <button type="button" class="btn btn-primary" routerLink="/home">Login</button>&nbsp;&nbsp; -->
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-primary">Sign Up</button>
     </div>
     </form>
  </div>
  </div>   
</div>
