/* You can add global styles to this file, and also import other style files */
body,
html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("/../../assets/airbus_background.jpg");
  /* Full height */
  height: 150%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

